.container-1 {
  background-color: #ee9eba;
  border-radius: 41px;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
  margin-right: 2rem;
}

.red-container {
  width: 90vw;
  height: auto;
  background-color: #eb4745;
  border-radius: 39px;
  border: solid 1px black;
  display: flex;
  justify-content: center;
  margin: 2rem;
  margin-top: -2rem;
  padding-top: 0.1rem;
  flex-shrink: 1;
}

.orange-container {
  width: 85vw;
  height: auto;
  background-color: #e88728;
  border-radius: 39px;
  border: solid 1px black;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  padding-top: 0.1rem;
}

.yellow-container {
  width: 80vw;
  height: auto;
  background-color: #f1b021;
  border-radius: 39px;
  border: solid 1px black;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  padding-top: 0.1rem;
}

.green-container {
  width: 75vw;
  height: auto;
  background-color: #6fb94f;
  border-radius: 39px;
  border: solid 1px black;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  padding-top: 0.1rem;
}

.blue-container {
  width: 70vw;
  height: auto;
  background-color: #3ca4d9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 39px;
  border: solid 1px black;
  margin-bottom: 2rem;
  padding-top: 0.1rem;
}

.droopy-eyes {
  margin-top: -3rem;
  height: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
}

#droopy {
  max-height: 100%;
  max-width: 100%;
}
