body {
  background-image: url("../images/opaque-grid.png");
  background-size: 100% 100vh;
  background-repeat: no-repeat;
}

.hidden {
  display: none !important;
}

.container-1,
.container-2,
.container-4 {
  background-color: #ee9eba;
  border-radius: 41px;
}

.pink-information-container {
  background-color: #ee9eba;
  border: solid black 1px;
  border-radius: 41px;
}

.red-container,
.orange-container,
.yellow-container,
.green-container,
.blue-container,
.red-results-container,
.orange-results-container,
.yellow-results-container,
.green-results-container,
.blue-results-container,
.red-information-container,
.orange-information-container,
.yellow-information-container,
.green-information-container,
.blue-information-container {
  border: solid 1px black;
  border-radius: 41px;
}

.red-container,
.red-results-container,
.red-information-container,
.red-favorites-container {
  background-color: #eb4745;
}

.orange-container,
.orange-results-container,
.orange-information-container,
.orange-favorites-container {
  background-color: #e88728;
}

.yellow-container,
.yellow-results-container,
.yellow-information-container,
.yellow-favorites-container {
  background-color: #f1b021;
}

.green-container,
.green-results-container,
.green-information-container,
.green-favorites-container {
  background-color: #6fb94f;
}

.blue-container,
.blue-results-container,
.blue-information-container,
.blue-favorites-container {
  background-color: #3ca4d9;
}

.heading {
  font-family: "Erica One", cursive;
  text-align: center;
  color: white;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  font-size: 2rem;
}

@media only screen and (width < 668px) {
  .heading {
    font-size: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

.search-bar,
#results-view-search-bar {
  border-radius: 10px;
  border: solid black 1px;
}

.title-1,
.title-2,
.title-3,
.title-4 {
  display: none;
}

.image-1,
.image-2,
.image-3,
.image-4 {
  background-color: white;
  border: solid 2px black;
  border-radius: 25px;
}

#img-1,
#img-2,
#img-3,
#img-4,
.fav-img {
  border: 2px solid white;
  cursor: pointer;
  border-radius: 25px;
}

@media only screen and (height < 721px) {
  .heading {
    font-size: 1.25rem;
  }
}

.large-image {
  background-color: white;
  border: solid 2px black;
}

#large {
  border: solid 2px white;
}

h2 {
  font-family: "Open Sans", sans-serif;
  color: white;
}

p {
  font-family: "Open Sans", sans-serif;
  color: white;
  font-size: 0.7rem;
}

.favorite {
  border-radius: 27px;
  border: solid black 1px;
  background-color: white;
}
